<table class="table table-borderless table-condensed">
    <tr>
	 	<td>Case</td>
	 	<td class="observe_header_casedescription">{CASE}</td>
 	</tr>
 	<tr>
	 	<td>Description</td>
	 	<td class="observe_header_casedescription">{DESCRIPTION}</td>
 	</tr>
 	<tr>
	 	<td>Service Date</td>
	 	<td class="observe_header_date">{SERVICE_DATE}</td>
 	</tr>
 	<tr></tr>
 	<tr></tr>
 	<tr>
	 	<td>Date</td>
	 	<td><b>{PAYMENT_MODAL_DATE}</b></td>
 	</tr>
 	<tr>
	 	<td>CPT Code</td>
	 	<td><b>{PAYMENT_CPT_CODE}</b></td>
 	</tr>
 	<tr>
	 	<td>Mod 1</td>
	 	<td><b>{PAYMENT_MOD_1}</b></td>
 	</tr>
 	<tr>
	 	<td>Mod 2</td>
	 	<td><b>{PAYMENT_MOD_2}</b></td>
 	</tr>
 	<tr>
	 	<td>Units</td>
	 	<td><b>{PAYMENT_UNITS}</b></td>
 	</tr>
 	<tr>
	 	<td>Description</td>
	 	<td><b>{PAYMENT_DESCRIPTION}</b></td>
 	</tr>
 	<tr>
	 	<td>Amount</td>
	 	<td><b>{PAYMENT_AMOUNT}</b></td>
 	</tr>
</table>
