<tr class="{CSS_CLASS}">
	<td>{CHECK_BOX}</td>
	<td >{DESCRIPTION}</td>
	
	<td><!--CPT-CODE--></td>
	<td><!--MOD1--></td>
	<td><!--MOD2--></td>
	<td><!--MOD3--></td>
	<td><!--MOD4--></td>

	<td><!--AMT-->{INSPAID}</td>
	

	<td class="{PRIMARY_PAID_VISIBILITY}"><!-- PRIMARY PAID --></td>
	<td class="{SECONDARY_PAID_VISIBILITY}"><!-- SECONDARY PAID --></td>
	<td class="{TERTIARY_PAID_VISIBILITY}"><!-- TERTIARY PAID --></td>
	<td><!-- ADJUSTMENT-ITEM-->{ADJUST}</td>
	<td><!-- ADJUSTMENT-REASON--></td>
	<td><!-- ADD--></td>
	<td><!--BALANCE--></td>
</tr>